
body{
    background-color:rgb(90, 90, 202) ;
    color: black;
    font-family: calibri;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
    font-size: 18px;
}
a{
    color: white;
    font-family: calibri;
    padding: 10px;
}
a:hover{
    color: #2dadad;
    transition: 0.7s all;
}
#cliente-btn{
    border: 2px solid #2dadad;
    padding: 8px;
    border-radius: 20px;
}
#cliente-btn:hover{
    background-color: #2dadad;
    color: white;
}
h1{
    font-size: 56px;
    font-weight: 200;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    width: 100%;
}
aside {
    width: 90%;
}
h2{
    font-size: 36px;
    line-height: 10px;
    font-family: calibri;
}
span{
    color: rgb(255, 255, 255);
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family: calibri;
    font-size: larger;
    text-align: justify;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;

}
form [type="button"]{
    height: 50px;
    width: 30%;
    background-color: #2dadad;
    color: white;
    font-weight: bold;

}
form [type="submit"]:hover{
   cursor: pointer;

}
input{
    margin-top: 10px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
article{
    display: flex;
    justify-content: end;
    width: 100%;
}

#div_msg {
    margin-top: 7px;
    background-color:rgba(208, 207, 215, 0.20);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;    
}

#dados {
    color: black;
    padding-bottom: 10px;
}